html * {
    font-family: Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    width: 25%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #080;
    color: #fff;
    font-weight:400;
}
